ASE_Project/Web References/order_details/order.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="order_enter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ven_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="order_enterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="order_enterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="address_insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="date1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="address_insertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="address_insertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ven_order">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ven_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ven_orderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ven_orderResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="usr_order">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usrid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usr_orderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usr_orderResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="order_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id1" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="order_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order_detailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chart_ven">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ven_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="chart_venResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="chart_venResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="order_enterSoapIn">
    <wsdl:part name="parameters" element="tns:order_enter" />
  </wsdl:message>
  <wsdl:message name="order_enterSoapOut">
    <wsdl:part name="parameters" element="tns:order_enterResponse" />
  </wsdl:message>
  <wsdl:message name="address_insertSoapIn">
    <wsdl:part name="parameters" element="tns:address_insert" />
  </wsdl:message>
  <wsdl:message name="address_insertSoapOut">
    <wsdl:part name="parameters" element="tns:address_insertResponse" />
  </wsdl:message>
  <wsdl:message name="ven_orderSoapIn">
    <wsdl:part name="parameters" element="tns:ven_order" />
  </wsdl:message>
  <wsdl:message name="ven_orderSoapOut">
    <wsdl:part name="parameters" element="tns:ven_orderResponse" />
  </wsdl:message>
  <wsdl:message name="usr_orderSoapIn">
    <wsdl:part name="parameters" element="tns:usr_order" />
  </wsdl:message>
  <wsdl:message name="usr_orderSoapOut">
    <wsdl:part name="parameters" element="tns:usr_orderResponse" />
  </wsdl:message>
  <wsdl:message name="order_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:order_details" />
  </wsdl:message>
  <wsdl:message name="order_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:order_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="chart_venSoapIn">
    <wsdl:part name="parameters" element="tns:chart_ven" />
  </wsdl:message>
  <wsdl:message name="chart_venSoapOut">
    <wsdl:part name="parameters" element="tns:chart_venResponse" />
  </wsdl:message>
  <wsdl:message name="order_enterHttpGetIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="ven_id" type="s:string" />
    <wsdl:part name="details" type="s:string" />
    <wsdl:part name="total" type="s:string" />
  </wsdl:message>
  <wsdl:message name="order_enterHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="address_insertHttpGetIn">
    <wsdl:part name="street" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="state" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="date1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="address_insertHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ven_orderHttpGetIn">
    <wsdl:part name="ven_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ven_orderHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfAnyType" />
  </wsdl:message>
  <wsdl:message name="usr_orderHttpGetIn">
    <wsdl:part name="usrid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="usr_orderHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfAnyType" />
  </wsdl:message>
  <wsdl:message name="order_detailsHttpGetIn">
    <wsdl:part name="id1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="order_detailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="chart_venHttpGetIn">
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="ven_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="chart_venHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="order_enterHttpPostIn">
    <wsdl:part name="user_id" type="s:string" />
    <wsdl:part name="ven_id" type="s:string" />
    <wsdl:part name="details" type="s:string" />
    <wsdl:part name="total" type="s:string" />
  </wsdl:message>
  <wsdl:message name="order_enterHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="address_insertHttpPostIn">
    <wsdl:part name="street" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="state" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="date1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="address_insertHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ven_orderHttpPostIn">
    <wsdl:part name="ven_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ven_orderHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfAnyType" />
  </wsdl:message>
  <wsdl:message name="usr_orderHttpPostIn">
    <wsdl:part name="usrid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="usr_orderHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfAnyType" />
  </wsdl:message>
  <wsdl:message name="order_detailsHttpPostIn">
    <wsdl:part name="id1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="order_detailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="chart_venHttpPostIn">
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="ven_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="chart_venHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="orderSoap">
    <wsdl:operation name="order_enter">
      <wsdl:input message="tns:order_enterSoapIn" />
      <wsdl:output message="tns:order_enterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="address_insert">
      <wsdl:input message="tns:address_insertSoapIn" />
      <wsdl:output message="tns:address_insertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ven_order">
      <wsdl:input message="tns:ven_orderSoapIn" />
      <wsdl:output message="tns:ven_orderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="usr_order">
      <wsdl:input message="tns:usr_orderSoapIn" />
      <wsdl:output message="tns:usr_orderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="order_details">
      <wsdl:input message="tns:order_detailsSoapIn" />
      <wsdl:output message="tns:order_detailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="chart_ven">
      <wsdl:input message="tns:chart_venSoapIn" />
      <wsdl:output message="tns:chart_venSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="orderHttpGet">
    <wsdl:operation name="order_enter">
      <wsdl:input message="tns:order_enterHttpGetIn" />
      <wsdl:output message="tns:order_enterHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="address_insert">
      <wsdl:input message="tns:address_insertHttpGetIn" />
      <wsdl:output message="tns:address_insertHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ven_order">
      <wsdl:input message="tns:ven_orderHttpGetIn" />
      <wsdl:output message="tns:ven_orderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="usr_order">
      <wsdl:input message="tns:usr_orderHttpGetIn" />
      <wsdl:output message="tns:usr_orderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="order_details">
      <wsdl:input message="tns:order_detailsHttpGetIn" />
      <wsdl:output message="tns:order_detailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="chart_ven">
      <wsdl:input message="tns:chart_venHttpGetIn" />
      <wsdl:output message="tns:chart_venHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="orderHttpPost">
    <wsdl:operation name="order_enter">
      <wsdl:input message="tns:order_enterHttpPostIn" />
      <wsdl:output message="tns:order_enterHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="address_insert">
      <wsdl:input message="tns:address_insertHttpPostIn" />
      <wsdl:output message="tns:address_insertHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ven_order">
      <wsdl:input message="tns:ven_orderHttpPostIn" />
      <wsdl:output message="tns:ven_orderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="usr_order">
      <wsdl:input message="tns:usr_orderHttpPostIn" />
      <wsdl:output message="tns:usr_orderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="order_details">
      <wsdl:input message="tns:order_detailsHttpPostIn" />
      <wsdl:output message="tns:order_detailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="chart_ven">
      <wsdl:input message="tns:chart_venHttpPostIn" />
      <wsdl:output message="tns:chart_venHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="orderSoap" type="tns:orderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="order_enter">
      <soap:operation soapAction="http://tempuri.org/order_enter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="address_insert">
      <soap:operation soapAction="http://tempuri.org/address_insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ven_order">
      <soap:operation soapAction="http://tempuri.org/ven_order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usr_order">
      <soap:operation soapAction="http://tempuri.org/usr_order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="order_details">
      <soap:operation soapAction="http://tempuri.org/order_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chart_ven">
      <soap:operation soapAction="http://tempuri.org/chart_ven" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="orderSoap12" type="tns:orderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="order_enter">
      <soap12:operation soapAction="http://tempuri.org/order_enter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="address_insert">
      <soap12:operation soapAction="http://tempuri.org/address_insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ven_order">
      <soap12:operation soapAction="http://tempuri.org/ven_order" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usr_order">
      <soap12:operation soapAction="http://tempuri.org/usr_order" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="order_details">
      <soap12:operation soapAction="http://tempuri.org/order_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chart_ven">
      <soap12:operation soapAction="http://tempuri.org/chart_ven" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="orderHttpGet" type="tns:orderHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="order_enter">
      <http:operation location="/order_enter" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="address_insert">
      <http:operation location="/address_insert" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ven_order">
      <http:operation location="/ven_order" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usr_order">
      <http:operation location="/usr_order" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="order_details">
      <http:operation location="/order_details" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chart_ven">
      <http:operation location="/chart_ven" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="orderHttpPost" type="tns:orderHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="order_enter">
      <http:operation location="/order_enter" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="address_insert">
      <http:operation location="/address_insert" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ven_order">
      <http:operation location="/ven_order" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usr_order">
      <http:operation location="/usr_order" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="order_details">
      <http:operation location="/order_details" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chart_ven">
      <http:operation location="/chart_ven" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="order">
    <wsdl:port name="orderSoap" binding="tns:orderSoap">
      <soap:address location="http://localhost:14575/order.asmx" />
    </wsdl:port>
    <wsdl:port name="orderSoap12" binding="tns:orderSoap12">
      <soap12:address location="http://localhost:14575/order.asmx" />
    </wsdl:port>
    <wsdl:port name="orderHttpGet" binding="tns:orderHttpGet">
      <http:address location="http://localhost:14575/order.asmx" />
    </wsdl:port>
    <wsdl:port name="orderHttpPost" binding="tns:orderHttpPost">
      <http:address location="http://localhost:14575/order.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>